:root{
    --main-color:#212121;
    --second-color:#2196F3;
    --third-color:#757575;
    --fourth-color:#FFFFFF;
}
ul li{
    list-style: none;
    display: inline;
}
.header-link:hover,.header-item-contact-link:hover,.footer-item-link:hover,.footer-location:hover{
    color:var(--second-color);
}
.hero-button:hover{
    color:red;
}
.header-link:focus,.header-item-contact-link:focus,.heor-button:focus,.footer-item-link:focus,.footer-location:focus{
    color: var(--second-color)
}
.body{
    font-family: Roboto, sans-serif;
    color: var(--main-color);
    font-style: normal;
    font-weight: 400;
}
.header{
    width: 1600px;
    height: 80px;
    background: var(--fourth-color);
}
.header-logo{
    width: 145px;
    height: 31px;
    letter-spacing: 0.03em;
    color:var(--main-color);
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
    text-decoration: none;
}
.header-link{
    color:var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.header-item-contact-link{
    color:var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.hero-section{
    background-color: var(--main-color);
    width: 1600px;
    height: 600px;
   
}
.hero-title{
    width: 696px;
    height: 120px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--fourth-color);
}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color:var(--fourth-color);
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: var(--second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.features-item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.features-item-text{
    font-size: 14px;
    line-height: 1.71;
}
.job-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team-item-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team-item-description{
    font-size: 16px;
    color: var(--third-color);
    line-height: 1.18;
}
.footer-logo{
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    color:  var(--second-color);
    line-height: 1.19;
}
.footer-location{
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.footer-item-link{
    font-size: 14px;
    color: var(--third-color);
    line-height: 1.71;
    text-decoration: none;
}