:root{
    --main-color:#212121;
    --second-color:#2196F3;
    --third-color:#757575;
    --fourth-color:#FFFFFF;
}
ul li{
    list-style: none;
    display: inline;
}
.header-link:hover,.header-item-contact-link:hover,.hero-button:hover:hover,.footer-item-link:hover,.navigation-button:hover{
    color:var(--second-color);
}
.header-link:focus,.header-item-contact-link:focus,.heor-button:focus,.footer-item-link:focus,.navigation-button:focus{
    color:var(--second-color);
}
.body{
    font-family: Roboto, sans-serif;
    color: var(--main-color);
    font-style: normal;
    font-weight: 400;
}
.header-logo{
    color:var(--main-color);
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
    text-decoration: none;
}
.header-link{
    color:var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.header-item-contact-link{
    color:var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.navigation-button{
    cursor: pointer;
}
.footer-logo{
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    color:  var(--second-color);
    line-height: 1.19;
}
.footer-location{
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.footer-item-link{
    font-size: 14px;
    color: var(--third-color);
    line-height: 1.71;
    text-decoration: none;
}