:root{
    --primary-title-color:#212121;
    --accent-color:#2196F3;
    --primary-text-color:#757575;
    --white-color:#FFFFFF;
    --black-color: #000000;
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
}
body{
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

}

/*HEADER*/
.header-logo{
    color:var(--accent-color);
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
}

.header-link{
    color:var(--primary-title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.header-link:hover,
.header-link:focus{
    color:var(--accent-color)
}
.current{
    color:var(--accent-color)

}

.header-item-contact-link{
    color:var(--primary-title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.header-item-contact-link:hover,
.header-item-contact-link:focus{
    color:var(--accent-color)
}


.navigation-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color:var(--black-color);
    cursor: pointer;
    width: 145px;
    height: 38px;
    background: var(--white-color);
    border-radius: 4px;
}


/*FOOTER*/

.footer-logo{
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    color:  var(--primary-title-color);
    line-height: 1.19;
}
.footer-location{
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.footer-item-link{
    font-size: 14px;
    color: var(--primary-text-color);
    line-height: 1.71;
    text-decoration: none;
}