:root{
    --primary-title-color:#212121;
    --accent-color:#2196F3;
    --primary-text-color:#757575;
    --white-color:#FFFFFF;
    --black-color: #000000;
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
}
body{
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

}

/*HEADER*/
.header-logo{
    color:var(--accent-color);
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
}

.header-link{
    color:var(--primary-title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus{
    color:var(--accent-color)
}
.current{
    color:var(--accent-color)

}

.header-item-contact-link{
    color:var(--primary-title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-item-contact-link:hover,
.header-item-contact-link:focus{
    color:var(--accent-color)
}

/*Hero*/
.hero-section{
    background-color: var(--black-color);
}

.hero-title{
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-color);
}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--white-color);
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: var(--accent-color);
    border-radius: 4px;
}

/*FEATURES*/

.features-item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.features-item-text{
    font-size: 14px;
    line-height: 1.71;
}

/*JOB*/

.job-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team-item-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team-item-description{
    font-size: 16px;
    color: var(--primary-text-color);
    line-height: 1.18;
}

/*PORTFOLIO*/

.navigation-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color:var(--black-color);
    cursor: pointer;
    background: var(--white-color);
}
.navigation-button:hover,
.navigation-button:focus{
    color: var(--accent-color);
}
.portfolio-list-header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color)
}

.portfoli-list-text{
    font-size: 16px;
    line-height: 1.87;
}

/*FOOTER*/

.footer{
    background-color: var(--black-color);
}
.footer-logo{
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    color:  var(--accent-color);
    line-height: 1.19;
}
.footer-location{
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: var(--white-color);
}
.footer-location:hover,
.footer-location:hover{
    color: var(--accent-color);
}
.footer-item-link{
    font-size: 14px;
    color: var(--primary-text-color);
    line-height: 1.71;
    text-decoration: none;
}
.footer-item-link:hover,
.footer-item-link:focus{
    color: var(--accent-color);
}